{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/quizzTitle">
{% endblock %}
{% block content %}
   <section>
       <p>Which poster does this title correspond to?</p>
   </section>
{% endblock %}

