{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/quizz2.css">
{% endblock %}

{% block content %}

    <section class ="timer">
        <div id='progress'></div>
        <div class="underProgressBar"></div>
    </section>
    <div class="content">

        <div class="question">
            <p>Who directed this movie?</p>
        </div>

        <div class="answering">
            <div class="poster">
                {% for randomMovie in randomMovies %}
                <img src="{{randomMovie.posterUrl}}" alt="">
                {% endfor %}
            </div>

            <div class="answers">
                {% for randomMovie in randomMovies %}
                    <button class="random" onclick="window.location.href='{{ path.random }}'">{{ randomMovie.director }}</button>
                {% endfor %}
                {% for randomWrongMovie in randomWrongMovies %}
                <button class="random"> {{ randomWrongMovie.director }}</button>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!--<script src="/assets/JS/randomizeButtons.js"></script>-->
    <script src="/assets/JS/timerProgressbar.js"></script>
{% endblock %}
