{% extends 'layout.html.twig' %}

{% block stylesheet %}    <link rel="stylesheet" href="/assets/css/question.css">{% endblock %}

{% block content %}

    <section class ="timer">
        <div id='progress'></div>
        <div class="underProgressBar"></div>
    </section>
    <div class="content">
        <div class="question">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium obcaecati quasi sed suscipit tempora. Aspernatur explicabo fugiat praesentium provident quam, repellat rerum vel? Atque ea, eveniet hic quo repellendus tempore?</p>
        </div>


        <div class="answers">
            <button>Answer 1</button>
            <button>Answer 2</button>
            <button>Answer 3</button>
            <button>Answer 4</button>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../assets/JS/timerProgressbar.js"></script>
{% endblock %}
