{% extends 'layout.html.twig' %}



{% block title %}Quizz{% endblock %}

{% block image %}<link rel="icon" href="/assets/images/spooky.jpg">{% endblock %}


{% block stylesheet %}    <link rel="stylesheet" href="/assets/css/question.css">{% endblock %}




{% block content %}
    <section class ="timer">
        <div id='progress'></div>
        <div class="underProgressBar"></div>
    </section>

<section id="questions">
    <h1 id="title_question">Which film belong to this image</h1>

<div id="choices">

    <div>
        <input type="button" value=" Final destination">
        <input type="button" value=" Scream">
        <input type="button" value=" Psychose">
        <input type="button" value="Tchoupi">
    </div>
</div>

</section>

{% endblock %}






{% endblock %}




{% block test %}
    <h1>Movie list</h1>

    {% for movieByDate in moviesByDate %}
    <p>{{ movieByDate.title }}</p>
    {% endfor %}


{% endblock %}


{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../assets/JS/timerProgressbar.js"></script>
{% endblock %}
