{% extends 'layout.html.twig' %}
<<<<<<< HEAD
{% block title %}Quizz{% endblock %}

{% block image %}<link rel="icon" href="/assets/images/spooky.jpg">{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/question.css">{% endblock %}

{% block content %}
<section>
    <h1>Which film belong to this image</h1>
</section>

{% endblock %}
=======

{% block content %}
    <h1>Movie list</h1>

    {% for movieByDate in moviesByDate %}
    <p>{{ movieByDate.title }}</p>
    {% endfor %}


{% endblock %}
>>>>>>> 0351674951ee94466ee9c1a20f072f6f0bd44dff
