{% extends 'layout.html.twig' %}



{% block title %}Quizz{% endblock %}

{% block stylesheet %}    <link rel="stylesheet" href="/assets/css/question.css">{% endblock %}


{% block content %}

    <section class ="timer">
        <div id='progress'></div>
        <div class="underProgressBar"></div>
    </section>


<section id="questions">

    <h1 id="title_question">Which film belong to this image?</h1>

    <div id="choices">
        <div id="image">
        {% for randomMovie in randomMovies %}
        <img src="{{randomMovie.posterUrl }}" alt="">
        {% endfor %}
        </div>

        <div id="propositions">
            {% for randomMovie in randomMovies %}
            <button>{{ randomMovie.title }}</button>
            {% endfor %}
            {% for randomWrongMovie in randomWrongMovies %}
            <button>{{ randomWrongMovie.title }}</button>
            {% endfor %}
     </div>

    </div>
    <p id="score">{{ score[0]['score'] }}</p>

</section>

{% endblock %}
{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/JS/timerProgressbar.js"></script>
{% endblock %}
