{% extends 'layout.html.twig' %}



{% block title %}Quizz{% endblock %}

{% block stylesheet %}    <link rel="stylesheet" href="/assets/css/question.css">{% endblock %}




{% block content %}
    <section class ="timer">
        <div id='progress'></div>
        <div class="underProgressBar"></div>
    </section>

<section id="questions">

    <img src="https://nsa40.casimages.com/img/2019/10/07/191007040142487894.jpg" alt="movie_picture">

    <h1 id="title_question">Which film belong to this image</h1>

    <div id="choices">

        <button>Final destination</button>
        <button>Scream</button>
        <button>Psychose</button>
        <button>Tchoupi</button>


    </div>


</section>

{% endblock %}











{% block test %}
    <h1>Movie list</h1>

    {% for movieByDate in moviesByDate %}
    <p>{{ movieByDate.title }}</p>
    {% endfor %}


{% endblock %}


{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../assets/JS/timerProgressbar.js"></script>
{% endblock %}
