{% extends 'layout.html.twig' %}

{% block stylesheet %}{% endblock %}


{% block content %}
    <section>
        <div id='progress' style='background:red; height:10px;'></div>
    </section>
{% endblock %}

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../assets/JS/timerProgressbar.js"></script>
{% endblock %}