{% extends 'layout.html.twig' %}
{% block title %}Quizz{% endblock %}

{% block image %}<link rel="icon" href="/assets/images/spooky.jpg">{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/question.css">{% endblock %}

{% block content %}
<section>
    <h1>Which film belong to this image</h1>
</section>

{% endblock %}