{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/homePage.css">
{% endblock %}
{% block content %}
  <section >
      <button class="glow-on-hover" type="button" onclick="window.location.href='quizz/{{ path.random }}'"> Play </button>
  </section>
    <p>Are you ready to test your horror movies knowledge ????</p>
{% endblock %}