<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    <link href="https://www.fontspace.com/chequered-ink/scare-arms" rel="">
    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/logo.jpg">
</head>

<body>

<img class = "background" src="{% block image %}/assets/images/background.jpg{% endblock image %}" alt ="background"/>
<header>
    <nav>
        <h1>Sinistest</h1>
    </nav>
</header>

{% block content %}{% endblock %}
{% block javascript %}{% endblock %}
</body>
</html>


