p {
    font-size:90px;
    color: #8A0707;
}

.message {
    display:flex;
    justify-content: center;
}

.retry {
    margin-top:20%;
    display:flex;
    justify-content: center;
}

.retry button {
    border: 1px solid white;
    padding: 11px 10px 0 10px;
    border-radius: 5%;
    font-size:90px;
    font-family: honeydripperregular, sans-serif;
    color: black;
    background: #8A0707;
}

button:hover {
    cursor:pointer;
}