#questions {
    font-size: 50px;
    font-family: honeydripperregular;
}


#questions img {
    height: 250px;
    margin: 4% 10% 0px 468px;
}
#title_question {
    color: darkred ;
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

#choices {
    margin: 40px 19%;
    width: 80%;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    flex-container: flex-wrap;
    justify-content: right;

}

 #choices button {
     margin: 20px 0px;
     background-color: darkred;
     width: 40%;
     height: 50px;
     border: none;
     border-radius: 15px;
     font-family: 'scare_armsregular';
     font-size: 30px;
 }

 #choices p {
     margin: 10px;
 }

.timer{
    margin-bottom: 3em;
}

#progress, .underProgressBar{
    position: absolute;
    height:30px;
}

#progress{
    background:#8A0707;
}
.underProgressBar {
    height:25px;
    background: rgba(255,255,255,0);
    width:calc(100% - 10px);
    z-index: -1;
    border: 5px solid #8A0707;
}

.answers{
    display: flex;
    flex-wrap: wrap;

}