.timer{
    position: relative;
}

#progress, .underProgressBar{
    position: absolute;
    height:30px;
}

#progress{
    background:#8A0707;
}
.underProgressBar {
    height:25px;
    background: rgba(255,255,255,0);
    width:calc(100% - 10px);
    z-index: -1;
    border: 5px solid #8A0707;
}