/* TIMER */
.timer{
    margin-bottom: 3em;
}

#progress, .underProgressBar{
    position: absolute;
    height:30px;
}

#progress{
    background:#8A0707;
}
.underProgressBar {
    height:25px;
    background: rgba(255,255,255,0);
    width:calc(100% - 10px);
    z-index: -1;
    border: 5px solid #8A0707;
}
/* END TIMER */

button:hover{
    cursor: pointer;
}

/* QUESTION BLOCK */
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.question{
    background-color: rgba(0,0,0,0.9);
    padding: 1em;
    width: 80%;
    margin-bottom: 1em;
}
.question p{
    color: #8A0707;
    font-family: honeydripperregular, sans-serif;
    font-size: 2em;
    text-align: center;
}

/* END QUESTION BLOCK */

.answering{
    display: flex;
    flex-wrap: nowrap;
    height: 60vh;
    width: 80%;
    justify-content: space-around;

}

/* POSTER BLOCK */

.poster img{
    height: 60vh;
    border-radius: 10px;
}

/* END POSTER BLOCK */

/* BUTTONS ANSWER */
.answers{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    text-align: center;
}

.answers a{
    background: #8A0707;
    border-radius: 5px;
    color: black;
    font-family: honeydripperregular, sans-serif;
    font-size: 2em;
    padding: 0.2em 0;
    border: 1px solid white;
}

/* END BUTTONS ANSWER */
