/* TIMER */
.timer{
    margin-bottom: 3em;
}

#progress, .underProgressBar{
    position: absolute;
    height:30px;
}

#progress{
    background:#8A0707;
}
.underProgressBar {
    height:25px;
    background: rgba(255,255,255,0);
    width:calc(100% - 10px);
    z-index: -1;
    border: 5px solid #8A0707;
}
/* END TIMER */

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.question{
    background-color: rgba(0,0,0,0.9);
    padding: 1em;
    width: 80%;
    margin-bottom: 1em;
}
.question p{
    color: #8A0707;
    font-family: honeydripperregular, sans-serif;
    font-size: 2em;
    text-align: center;
}

button{
    height: 300px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

button:before {
    content: '';
    background: linear-gradient(#e00b0b, #e90101);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
button:active {
    color: #000
}

button:active:after {
    background: transparent;
}

button:hover:before {
    opacity: 1;
}

button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

img{
    width: 200px;
   ;
}

