@font-face {
    /*use this command for scare arms font : font-family: scare_armsregular, sans-serif ; */
    font-family: 'honeydripperregular';
    src: url('../fonts/honeydripper-webfont.woff2') format('woff2'),
    url('../fonts/honeydripper-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'scare_armsregular';
    src: url('../fonts/scarearms.woff2') format('woff2'),
    url('../fonts/scarearms.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    font-family:'honeydripperregular',sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'scare_armsregular',sans-serif !important;
}
header
{
    background-color: black;
}

nav h1
{
    text-align: left;
    font-size:25px;
    color:red;
    width:100%;
}

nav
{
    width:98%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height:100%;
}

body
{
    background-color: black;
}


.background {
    position:fixed;
    height:100%;
    width:100%;
    object-fit: cover;
    z-index: -1;
}